<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Person.Properties.Settings.DatabaseTestConnectionString"
      connectionString="Data Source=|DataDirectory|\DatabaseTest.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <appSettings>
    <add key="Source" value="File"/>
  </appSettings>
</configuration>